<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Latest_27_05.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <Latest_27_05.Properties.Settings>
            <setting name="query1" serializeAs="String">
                <value />
            </setting>
            <setting name="query2" serializeAs="String">
                <value />
            </setting>
            <setting name="query3" serializeAs="String">
                <value />
            </setting>
            <setting name="Sample_location" serializeAs="String">
                <value />
            </setting>
            <setting name="Excel_location" serializeAs="String">
                <value />
            </setting>
            <setting name="ans_location" serializeAs="String">
                <value />
            </setting>
            <setting name="query4" serializeAs="String">
                <value />
            </setting>
            <setting name="query5" serializeAs="String">
                <value />
            </setting>
            <setting name="ReportPath" serializeAs="String">
                <value />
            </setting>
            <setting name="mark1" serializeAs="String">
                <value />
            </setting>
            <setting name="mark2" serializeAs="String">
                <value />
            </setting>
            <setting name="mark3" serializeAs="String">
                <value />
            </setting>
            <setting name="mark4" serializeAs="String">
                <value />
            </setting>
            <setting name="mark5" serializeAs="String">
                <value />
            </setting>
            <setting name="mark6" serializeAs="String">
                <value />
            </setting>
            <setting name="mark7" serializeAs="String">
                <value />
            </setting>
            <setting name="mark8" serializeAs="String">
                <value />
            </setting>
            <setting name="mark9" serializeAs="String">
                <value />
            </setting>
            <setting name="mark10" serializeAs="String">
                <value />
            </setting>
            <setting name="mark11" serializeAs="String">
                <value />
            </setting>
            <setting name="mark12" serializeAs="String">
                <value />
            </setting>
            <setting name="mark13" serializeAs="String">
                <value />
            </setting>
            <setting name="mark14" serializeAs="String">
                <value />
            </setting>
            <setting name="mark15" serializeAs="String">
                <value />
            </setting>
            <setting name="query6" serializeAs="String">
                <value />
            </setting>
            <setting name="query7" serializeAs="String">
                <value />
            </setting>
            <setting name="query8" serializeAs="String">
                <value />
            </setting>
            <setting name="query9" serializeAs="String">
                <value />
            </setting>
            <setting name="query10" serializeAs="String">
                <value />
            </setting>
            <setting name="query11" serializeAs="String">
                <value />
            </setting>
            <setting name="query12" serializeAs="String">
                <value />
            </setting>
            <setting name="query13" serializeAs="String">
                <value />
            </setting>
            <setting name="query14" serializeAs="String">
                <value />
            </setting>
            <setting name="query15" serializeAs="String">
                <value />
            </setting>
            <setting name="username" serializeAs="String">
                <value />
            </setting>
            <setting name="password" serializeAs="String">
                <value />
            </setting>
        </Latest_27_05.Properties.Settings>
    </userSettings>
</configuration>